


html, body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* CSS Variables */

:root {
  --primary-color: #000;
  --secondary-color: #fff;

  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(35deg,#ff9966, #ff5e62);
  /*--gradient-color: linear-gradient(90deg, #ff5f6d, #ffc371);*/
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  --roboto: 'Roboto', cursive;
}